.icon {
    width: 1em;  /* o el tamaño que prefieras en relación con el tamaño de fuente circundante */
    height: 1em;
}

.icon_plus {
    width: 1.5em;  /* o el tamaño que prefieras en relación con el tamaño de fuente circundante */
    height: 1.5em;
}

img {
    max-width: 100%;
}
img[width] {
    width: auto; /* Defer to max-width */
}
img[width][height] {
    height: auto; /* Preserve aspect ratio */
}

footer {
    background-color: #997d7d; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    font-size: 0.9em; /* Tamaño de la fuente */
}

footer .container {
    width: 80%;
    margin: 0 auto; /* Centrado del contenido */
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;
}

footer ul {
    list-style: none; /* Remueve los estilos por defecto de lista */
    padding: 0; /* Remueve el espaciado interno */
    display: flex; /* Hace que los elementos de la lista sean en línea */
    gap: 15px; /* Espacio entre los elementos de la lista */
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Remueve el subrayado de los enlaces */
    transition: color 0.3s ease; /* Transición suave para el color */
}

footer ul li a:hover {
    color: #aaa; /* Color de los enlaces al pasar el ratón por encima */
}

footer .social-media a {
    margin-right: 10px; /* Espaciado a la derecha para los enlaces de redes sociales */
    color: white; /* Color del texto */
}

footer p {
    margin: 0; /* Remueve el margen por defecto del párrafo */
}

.issue-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.issue-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.issue-header h3, .issue-header .issue-user {
    margin: 0;
}

.issue-author-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.issue-author-link {
    color: white;
    text-decoration: none;
}

.issue-author-link:hover {
    text-decoration: underline;
}

.issue-body {
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.issue-footer {
    background-color: #e7f3ff; /* Color claro acorde a la cabecera */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-footer-left, .issue-footer-right {
    display: flex;
    align-items: center;
}

.issue-footer-left > span, .issue-footer-right > span {
    margin-right: 15px; /* Espaciado entre elementos */
}

.issue-created-at {
    position: relative;
    display: inline-block;
}

.issue-updated-at {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    left: 0;
    top: 100%;
}

.issue-created-at:hover .issue-updated-at {
    display: block;
}

.issue-link {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
}

.issue-link:hover {
    background-color: #218838;
}

.issue-link-create {
    background-color: #1e90ff; /* Un tono de azul */
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
}

.issue-link-create:hover {
    background-color: #1a7ccc; /* Un tono de azul más oscuro para el hover */
}
