.icon {
    width: 1em;  /* o el tamaño que prefieras en relación con el tamaño de fuente circundante */
    height: 1em;
}
img {
  max-width: 100%;
}
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}