---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
lang: "pt"
---
{% set postsCount = collections.posts_by_lang[lang] | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Últimas {{ latestPostsCount }} Postagens{% if latestPostsCount != 1 %}{% endif %}</h1>

{% set postslist = collections.posts_by_lang[lang] | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} mais postagem{% if morePosts != 1 %}ns{% endif %} podem ser encontradas no <a href="/pt/blog/">arquivo</a>.</p>
{% endif %}
