---
layout: layouts/home.njk
eleventyComputed:
  title: All Tags
permalink: /pt/tags/
lang: "pt"
---
<h1>All Tags</h1>

{% for tag in collections.tags_pt %}
  {% set tagUrl %}/pt/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
{% endfor %}
