---
pagination:
  data: collections.tags_fr
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Marqué “{{ tag }}”
permalink: /fr/tags/{{ tag | slugify }}/
lang: "fr"
---
<h1>Marqué “{{ tag }}”</h1>

{% set tagPosts = collections.postsByTag[ tag ] or [] %}
{% set postslist = tagPosts | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>Voir <a href="/fr/tags/">toutes les balises</a>.</p>
