---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - posts_by_lang
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Marqué “{{ tag }}”
permalink: /fr/tags/{{ tag | slugify }}/
lang: "fr"
---
<h1>Marqué “{{ tag }}”</h1>

{% set postslist = collections[ tag ] | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>Voir <a href="/fr/tags/">toutes les balises</a>.</p>
