---
layout: layouts/home.njk
eleventyComputed:
  title: "Todas las etiquetas"
permalink: /tags/
lang: "es"
---
<h1>Todas las etiquetas</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>