---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Etiquetado “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Etiquetado “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Ver <a href="/tags/">todas las etiquetas</a>.</p>
