pagination:
  data: collections.tags_es
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Etiquetado “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
lang: "es"
---
<h1>Etiquetado “{{ tag }}”</h1>

{% set tagPosts = collections.postsByTag[ tag ] or [] %}
{% set postslist = tagPosts | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>Ver <a href="/tags/">todas las etiquetas</a>.</p>
