---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.posts_by_lang[lang] | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>最新的 {{ latestPostsCount }}篇文章</h1>

{% set postslist = collections.posts_by_lang[lang] | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>更多 {{ morePosts }} 篇文章可以在<a href="/{{ lang }}/blog/">存档</a>中找到。</p>
{% endif %}
