---
layout: layouts/home.njk
eleventyComputed:
  title: Все теги
permalink: /ru/tags/
lang: "ru"
---
<h1>Все теги</h1>

{% set tagList = collections.all | getAllTags | filterTagList %}
<ul>
{% for tag in tagList %}
  {% set tagUrl %}/ru/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
{% endfor %}
</ul>
