---
pagination:
  data: collections.validTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Etichettato “{{ tag }}”
permalink: /it/tags/{{ tag | slugify }}/
lang: "it"
---
<h1>Etichettato “{{ tag }}”</h1>

{% set postslist = collections.postsByTag[ tag ] | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>Vedi <a href="/it/tags/">tutti i tag</a>.</p>
