---
pagination:
  data: collections.validTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /en/tags/{{ tag | slugify }}/
lang: "en"
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>See <a href="/en/tags/">all tags</a>.</p>
