---
layout: layouts/home.njk
permalink: /el/tags/
lang: "el"
eleventyComputed:
  title: Ετικέτες
---
<h1>Ετικέτες</h1>

<ul>
{% for tag in collections.tags_el %}
	{% set tagUrl %}/el/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>