---
pagination:
  data: collections.validTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Με ετικέτα "{{ tag }}"
permalink: /el/tags/{{ tag | slugify }}/
lang: "el"
---
<h1>Με ετικέτα "{{ tag }}"</h1>

{% set postslist = collections[ tag ] | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>Δείτε <a href="/el/tags/">όλες τις ετικέτες</a>.</p>