<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">


		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
		<link rel="stylesheet" href="/css/bundle.css">

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FRM23DV6JJ"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-FRM23DV6JJ');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PCMLMBWD');</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCMLMBWD"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<!-- Añadir la imagen del banner aquí -->
            <img src="/img/Cabecera.webp" alt="Cabecera Proyecto Anticitera">
			<a href="/" class="home-link">{{ metadata.title }}</a>			
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
		<ul class="post-metadata">
			<li>✏️<a href="https://github.com/elswork/anticitera.deft.work/edit/main{{ page.inputPath | replace('./', '/') }}">Editar en {% icon "simpleicon:github", class="icon" %} GitHub</a></li>
			<li>🤖<a href="https://github.dev/elswork/anticitera.deft.work">Editar en {% icon "simpleicon:visualstudiocode", class="icon" %} VSC</a></li>
		</ul>
		<br>
			{{ content | safe }}
		</main>

		<footer>
			<div class="container">
				<div class="social-media">
					<!-- Enlaces a redes sociales, si aplican -->
					<a href="https://twitter.com/elswork" target="_blank">{% icon "simpleicon:twitter", class="icon_plus" %}</a>
					<a href="https://github.com/elswork/anticitera.deft.work" target="_blank">{% icon "simpleicon:github", class="icon_plus" %}</a>
					<!-- Otros enlaces a redes sociales -->
				</div>
				<p>.IA Isla Anticitera &copy; {{ 'now' | currentYear }} Todos los derechos reservados.</p>
			</div>
		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
