---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<br>
<div class="message-box">
	<ol>
		<li>Este proyecto es experimental, una prueba de concepto.</li>
	</ol>
	<p><em>Esta es la Base de conocimiento para el <a href="https://chat.openai.com/g/g-fnpHOClUW-anticitera">Asistente Anticitera de OpenAI</a> creado para promover la creación del dominio de nivel superior .IA</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
