---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<br>
### ¿Que es el Proyecto .IA Isla Anticitera?

El Proyecto .IA Isla Anticitera es una iniciativa que busca crear un nuevo Dominio de Nivel Superior de Código de País (ccTLD) .IA asociado al territorio de la Isla de Anticitera. Esta pequeña isla, famosa por el Mecanismo de Anticitera, considerado como la primera computadora analógica de la historia, se convierte en un símbolo de los orígenes de la Inteligencia Artificial y la innovación tecnológica.
El Proyecto .IA Isla Anticitera también es la comunidad de personas que de alguna u otra forma formamos parte del proyecto, este es el activo más valioso del proyecto, el que ayudará al proyecto a cumplir sus objetivos.
<div class="message-box">
	<ol>
		<li>Existe un dominio ccTLD .AI comunmente utilizado para proyectos de "Artificial Intelligence", pero no existe el ccTLD .IA que representaria a la mayoria del resto de idiomas del planeta.</li>
    	<li>Buscamos crear una comunidad de entusiastas de la IA para promover la creación del dominio de nivel superior ccTLD .IA en el histórico territorio de Isla Anticitera.</li>
		<li>Consulta los detalles del <a href="/about">Proyecto</a>.</li>
	</ol>
	</ol>
	<p><em>Esta es la Base de conocimiento para el <a href="https://chat.openai.com/g/g-fnpHOClUW-anticitera">Asistente Anticitera de OpenAI</a> creado para asistir en la creación de proyectos tecnologicos relacionados con la .IA</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
