---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<br>
<h3>{{ home[lang].title }}</h3>

<p>
	{{ home[lang].paragraph1 }}
	{{ home[lang].paragraph2 }}
	<br>
	<a href="{{ home[lang].link.url }}">{{ home[lang].link.text }}</a>
</p>
<div class="message-box">
	<ol>
		<li>{{ home[lang].messageBox.item1 }}</li>
    	<li>{{ home[lang].messageBox.item2 }}</li>
		<li>{{ home[lang].messageBox.item3 | safe }}</li>
	</ol>
	<p><em>{{ home[lang].messageBox.footer | safe }}</em></p>
</div>
{% youtube "https://youtu.be/x1DeBF8bBVc" %}
<!-- Stop deleting -->

{{ content | safe }}