---
layout: layouts/home.njk
pagination:
  data: collections.germanPosts
  size: 100
  alias: posts
  reverse: true
permalink: /de/blog{% if pagination.pageNumber > 0 %}/page-{{ pagination.pageNumber + 1 }}{% endif %}/
lang: "de"
eleventyNavigation:
  key: Blog
  title: Blog
  url: /de/blog/
  order: 2
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Blog Seite {{ pagination.pageNumber + 1}} - {% endif %}Archiv"
---

{% set postslist = posts %}
{% set postslistCounter = postslist | length %}
{% include "postslist.njk" %}