---
layout: layouts/home.njk
title: "Was ist das .IA Antikythera-Insel-Projekt?"
eleventyNavigation:
  key: Startseite
  order: 1
numberOfLatestPostsToShow: 3
permalink: /de/
lang: "de"
---
{% set postslist = collections.posts | where("data.lang", "de") | reverse %}
{% set latestPostsCount = postslist | length | min(numberOfLatestPostsToShow) %}
<h1>Neueste {{ latestPostsCount }} Veröffentlichung{% if latestPostsCount != 1 %}en{% endif %}</h1>

{% set postslist = postslist | head(numberOfLatestPostsToShow) %}
{% set postslistCounter = postslist | length %}
{% include "postslist.njk" %}

{% set totalPosts = collections.posts | where("data.lang", "de") | length %}
{% set morePosts = totalPosts - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} weitere Post{% if morePosts != 1 %}s{% endif %} können im <a href="/de/blog/">Archiv</a> gefunden werden.</p>
{% endif %}