---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
layout: layouts/home.njk
permalink: /de/tags/
lang: "de"
eleventyComputed:
  title: Tags ({{ collections.tagList | length }})
---
<h1>Tags</h1>

{% for tag in collections.tags_de %}
  {% set tagUrl %}/de/tags/{{ tag | slugify }}/{% endset %}
  <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
{% endfor %}