---
pagination:
  data: collections.validTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Getaggt "{{ tag }}"
permalink: /de/tags/{{ tag | slugify }}/
lang: "de"
---
<h1>Getaggt "{{ tag }}"</h1>

{% set postslist = collections[ tag ] | where("data.lang", lang) %}
{% include "postslist.njk" %}

<p>Siehe <a href="/de/tags/">alle Tags</a>.</p>